*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.heading_txt{
    text-align: center;
    margin: 20px;
    font-size: 2em;
}
h2, h3, h4{
    letter-spacing: 0,08em;
}

/* outlet cards*/
.outlet_products{
    display: flex;
    max-width: 1000px;
    gap: 1px;
    justify-content: center;
    margin:40px auto;
    align-items: end;
}
.outlet_product{
    display: flex;
    flex-direction: column;
    font-family: "sf-pro-display", Verdana, Geneva, Tahoma, sans-serif;
    color: #0A3641;
    width: 200px;
}
.outlet_productimg{
    display:block;
    position: relative;
}
.outlet_productimg label{
    position:absolute;
    top:10px;
    right: 10px;
    color: #fff;
    transition: color 0.5s;
}
.outlet_name_price_sale{
    flex: 1;
    font-family: "roboto-font", sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;   
}
.outlet_prod_img1{
    position: relative;
    top:3px;
}
.outlet_product img{
    width: 100%;
    margin: 0px auto;
    border-radius: 8px 8px 0 0;
    background-color: #dae0e4;
}
.sale_prize{
    flex: 1;
    font-family: "roboto-font", sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
    
}
.sale_prize i{
    color: #CB9B46;
}
.old_new_prize{
    display: flex;
    flex-direction: row;
}
.old_prize{
    flex: 1;
    font-family: "roboto-font", sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
    text-decoration: line-through;
}
.outlet_products_txt{
    display: flex;
    flex-direction: column;
    background-color: #0A3641;
    color: #ffffff;
    padding: 5px;
    border-radius: 0 0 8px 8px;
}

.outlet_products_txt h4{
    font-size: 0.7rem;
    color: #CB9B46;
    font-family: "roboto-font", sans-serif;
    font-weight: 400;
    
}
.outlet_products_txt h2{
    font-size: 1rem;
    color: #ffffff;
    font-family: "roboto-font", sans-serif;
    font-weight: 500;
}
.outlet_cat_color{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}
.outlet_products_h4{
    flex: 1; 
}
 /*Size choices*/
 .filter_size{
    display:flex;
    flex-direction: row;
    align-items: center;
 }
 .size_s{
    padding: 1px;
    background-color: white;
    color:#0A3641;
    margin: 5px;
    border: 1px solid #0A3641;
    width: 25px;
    text-align: center;
 }
 .size_xs{
    padding: 1px;
    background-color: white;
    color:#0A3641;
    margin: 5px;
    border: 1px solid #0A3641;
    width: 25px;
    text-align: center;
 }
 .size_m{
    padding: 1px;
    background-color: white;
    color:#0A3641;
    margin: 5px;
    border: 1px solid #0A3641;
    width: 25px;
    text-align: center;
 }
 .size_l{
    padding: 1px;
    background-color: white;
    color:#0A3641;
    margin: 5px;
    border: 1px solid #0A3641;
    width: 25px;
    text-align: center;
 }
 .size_xl{
    padding: 1px;
    background-color: white;
    color:#0A3641;
    margin: 5px;
    border: 1px solid #0A3641;
    width: 25px;
    text-align: center;
 }

 