*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.heading_txt{
    text-align: center;
    margin: 20px;
    font-size: 2em;
}
/*filter menu*/
.filter{
    color:#CB9B46;
    font-size: 1.5em;
    margin-left: 10px;
}
.filter_content{
    grid-column: 1;
    grid-row: span 4;
    border: 3px solid #CB9B46;
    border-radius: 5px;
}
ul {
    list-style-position: inside; /* helps putting the bullet points inside the box*/
 }
.filter_content h4{
    color:#CB9B46;
    font-size: 1em;
    margin-bottom: 20px;
}
.filter_category{
    margin:50px 10px;
}
.filter_color{
    margin:50px 10px;
}


/* Product cards*/
.card_container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-content: center;
    max-width: 1400px; 
}
.card{
    display: flex;
    flex-direction: column;
    background-color:white;
    overflow: hidden;
    margin: 20px;  
}
.card img{
    width: 100%;
    height: 200px;
    object-fit:scale-down ;
}

.card-content{
    display: flex;
    flex-direction: column;
    padding:5px 10px;
    height: 180spx;
    background-color: #0A3641;
    border-radius: 5px;
    margin: 0px;
}

.card-content h2{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.card-content p{
    color: white;
    font-size: 13px;
    margin-bottom: 10px;
}

.card-content h3{
    color: #CB9B46;
    font-size: 18px;
   
}
/*color choices*/
.color_choices{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pink{
   height: 20px;
   width: 20px;
   background-color: #EB2374;
   border-radius: 50%;
   display: inline-block;
   margin:5px;
}
.blue{
    height: 20px;
    width: 20px;
    background-color: #380dd3;
    border-radius: 50%;
    display: inline-block;
    margin:5px;
 }
 .green{
    height: 20px;
    width: 20px;
    background-color: #678036;
    border-radius: 50%;
    display: inline-block;
    margin:5px;
 }
 .grey{
    height: 20px;
    width: 20px;
    background-color: #6A6569;
    border-radius: 50%;
    display: inline-block;
    margin:5px;
 }
 .orange{
    height: 30px;
    width: 30px;
    background-color: #fcb900;
    border-radius: 50%;
    display: inline-block;
    margin:5px;
 }
 .red{
    height: 30px;
    width: 30px;
    background-color: #e60a0a;
    border-radius: 50%;
    display: inline-block;
    margin:5px;
 }
 .black{
    height: 30px;
    width: 30px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    margin:5px;
 }

 /*Size choices*/
 .filter_size{
    display:flex;
    flex-direction: row;
    align-items: center;
 }
 .size_s{
    padding: 1px;
    background-color: white;
    color:#0A3641;
    margin: 5px;
    border: 1px solid #0A3641;
    width: 25px;
    text-align: center;
 }
 .size_xs{
    padding: 1px;
    background-color: white;
    color:#0A3641;
    margin: 5px;
    border: 1px solid #0A3641;
    width: 25px;
    text-align: center;
 }
 .size_m{
    padding: 1px;
    background-color: white;
    color:#0A3641;
    margin: 5px;
    border: 1px solid #0A3641;
    width: 25px;
    text-align: center;
 }
 .size_l{
    padding: 1px;
    background-color: white;
    color:#0A3641;
    margin: 5px;
    border: 1px solid #0A3641;
    width: 25px;
    text-align: center;
 }
 .size_xl{
    padding: 1px;
    background-color: white;
    color:#0A3641;
    margin: 5px;
    border: 1px solid #0A3641;
    width: 25px;
    text-align: center;
 }