/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html{
    background-color: #ffffff;
    color:#0A3641;
}
.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
@font-face {
    font-family: "sf-pro-display", sans-serif;
    src: url("../fonts/sf-pro-display/") format("opentype");
    font-weight: normal;
    font-style: normal;
}
.oswald-font {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .content{
    max-width:1400px;
    margin: auto;
    background-color: #ffffff;
    
  }
.body{
    color:#0A3641;
    max-width: 1400px;
   
}
/*header and footer elements*/
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
    max-width: 1400px;
    font-family: "oswald-font", Verdana, Geneva, Tahoma, sans-serif;
    color: #0A3641;
    border-bottom: solid 2px #0A3641;
    margin-bottom: 0px;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    max-width: 250px;
}

.header img {
    width: 30%;
    margin-left: 20px;
}
.ul_nav {
    display: flex;
    flex: 1;
    list-style: none;
    color: #0A3641;
    justify-content: start;
}
.ul_nav a {
    text-decoration: none;
    color: #0A3641;
}
.ul_nav a:hover {
    color: #CB9B46;
}
.ul_nav li {
    margin-right: 20px;
    text-align: center;
}
.icon_flex{
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
}
.icon {
    display: flex;
    max-width: 25px;
    margin: 15px;    
}
.header_icons button {
    margin-left: 10px;
}
.header_icons img {
    width: 40px;
    margin: 10px;
}
#men, #women, #sale {
    padding: 5px;
    font-size: 32px;
    font-family: sf-pro-display;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    font-family: "oswald-font" Verdana, Geneva, Tahoma, sans-serif;
    color:#ffffff;
    background-color: #0A3641;
    padding:0px 20px ;
    text-align: center;;
    margin-top: 20px;
}
.footer_img{
    max-width: 100%;
    flex:1;
    margin:5px;
    
}
.footer_imgsrc{
    width: 100%;
}
.footer_div{
    flex:1;
    display: flex;
    flex-direction: column;
}
.footer_some{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;

}
.footer_some_icons{
    display: flex;
    gap:10px;

}
.footer_some img{
    width: 30px;
}

/*hero*/

.hero_img{
    background-image: url("../images/heroimg.jpg");
    background-size:cover; 
    height: 500px;
    background-position: 10% 65%;
    width: 100%;
    margin-top: 0px;
}
#mp_h3{
    text-align: center;
    font-size: 36px;
    max-width: 1400px;
    color: #0A3641;
}

/*product cards*/
.product_slider{
    display: flex;
    max-width: 1000px;
    margin: 10px auto;
    
}

.product_card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    font-family: "sf-pro-display", Verdana, Geneva, Tahoma, sans-serif;
   ;
}
.product_card img{
    width: 50%;
    object-fit: contain;
    
}
.price{ 
    
    margin: 0 80px;
    color:white;
    font-size: 20px;
   
    
}
.h4_productcard{
    font-size: medium;
    color:#CB9B46;
}
.productcard_txt{
    background-color: #0A3641;
    color:#ffffff;
    padding:0px 10px;
    border-radius: 8px;
    font-size: small;
    
}
.h4product_card{
    font-size: medium;
    color:#CB9B46;
}

.h4_productcard{
    color:#CB9B46;
}

.mp_sale_img{
    background-image: url("../images/sales_imglarge.jpg");
    background-size:cover; 
    max-width: 100%;
    height: auto;
    margin:50px 100px;
}
.mp_sale_h4{
    text-align: center;
    font-size: 150px;
    max-width: 1400px;
    color: #ffffff;
    -webkit-text-stroke: 4px #0A3641;   
}

/*pinkjacket*/

.product_section{
    display: flex;
    max-width: 1400px;
    margin: auto;

    
}
.product_section > *{
    flex:1;


}
#prod_img_large{
    display: flex;
    margin: 50px 40%;
    width: 40%;
    height: auto;
    object-fit: contain;
    
}

.img_thumbnail{
    display: flex;
    justify-content: space-between,;
    gap: 20px;
    margin: 5px 35%;
    width: 50%;
    height: auto;
   
    
}

.img_thumbnail img{
    width: 100%;
    object-fit: cover;
    border:solid 2px #0A3641;
}

/*product details*/

.cta{
    background-color: red;
    padding: 10px 100px;
    color:white;
    font-weight: bold;
    margin: 20px 0px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.pink{
    padding: 15px;
    background-color: #E92675;
    border-radius: 100%;
}
.blue{
    padding: 15px;
    background-color: blue;
    border-radius: 100%;
    border-color: blue;
}
.green{
    padding: 15px;
    background-color: #678036;
    border-radius: 100%;
    border-color: #678036;
}
.grey{
    padding: 15px;
    background-color: grey;
    border-radius: 100%;
    border-color: grey;
}
.size_btns{
    display: flex;
    margin-top: 20px;
}
.size_btn{
    padding: 10px;
    background-color: white;
    color:#0A3641;
    margin: 5px 5px 5px 0px;;
    
    
}

.product_card_txt{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px 0px 20px 0px;
    font-family: "sf-pro-display", Verdana, Geneva, Tahoma, sans-serif;
    
}


.h4product_pagecard{
    color:#CB9B46;
}
.h2product_pagecard{
    color: #0A3641;
}
.product_description{
    max-width: 1000px;
    margin: auto;
    color:#0A3641
}

   /*checkout page*/
 
   .checkout{
   display: flex;
   max-width: 1400px;
   justify-content: space-between;
   padding: 10px;
   gap: 30px;
   margin: auto;
  
  
   }

   .checkout_form_left{
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
   }

   .checkout_products_right{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: start;
    border: solid 2px #0A3641;
    max-width: 450px;;
   }
   .checkout_form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;
   
   }
   .checkout_headline{
    font-size: 2rem;
    font-weight: bold;
    color: #0A3641;
    text-align: center;
   }
   .checkout_product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
   }
    .checkout_product img{
     width: 50%;
     
    }
    .checkout_product_txt{
     display: flex;
     flex-direction: column;
     gap: 5px;
     margin:0px 0px;
    }
    #fname, #lname, #city, #zip{
        width: 200px;
        height: 30px;
        border:none;
    }
    #email, #address, #country
    {
        width: 400px;
        height: 30px;
        border:none
       
    }
    .checkout_submit{
        background-color: #FC0202;
        color:#ffffff;
        width: 300px;
        height: 30px;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;
        margin:auto;    

    }
    .checkout_delivery{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 0px;
        width: 400px;
        height: 100%;
    }
  .checkout_radiobtn{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
    width: 400px;
    height: 100%;
  } 
 .radio-button1{
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 10px 40px;
    border:solid 2px #0A3641;
    height: 100%;
    width: 300px;
    background-color:#bdff9ee3 ;
    padding:20px 10px;
    border-radius: 5px;
    
 }
 .radio-button2{
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 10px 40px;
    border:solid 2px #0A3641;
    height: 100%;
    width: 300px;
    background-color:#bdff9ee3 ;
    padding:20px 10px;
    border-radius: 5px;
 }
 .checkout_h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #0A3641;
    text-align: center;
    margin-top:10px;
 }
.checkout_label{
    display: flex;

}
.checkout_company{
    padding-left: 5px;
}
.checkout_delivery{
    margin:5px;

}
.checkout_end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
    background-color:#bdff9ee3 ;
    width:445px;
    border: solid 2px #0A3641;

}
.checkout_creditcard{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
    width: 400px;
    height: 100%;
}
.radio.button3{
    display: flex;
    gap: 5px;
}
.checkout_labelcreditcard{
    display: flex;
    gap: 5px;
}
legend{
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}
.checkout_creditcard input{
    border:none;
}

/*test*/

.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "oswald-font", Verdana, Geneva, Tahoma, sans-serif;
    color: #0A3641;
    margin-bottom: 0px;
}
.header1 img{
    width: 100%;
    margin-left: 20px;
}
.header_nav1{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header_nav1 a{
    text-decoration: none;
    color: #0A3641;
}
.header_nav1 a:hover{
    color: #CB9B46;
}
.header_nav1 li{
    list-style-type: none;
    margin:10px;
    font-size: 1.3rem;
    font-style: "sf-pro-display", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
.logo1{
    flex: 1;
    max-width: 150px;
   
}
.header_icons1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
    margin-right: 20px;
    max-width: 250px;

}
.fp_hero{
    background-image: url("../images/heroimg.jpg");
    background-size:cover; 
    height: 300px;
    background-position: 10% 65%;
    width: 100%;
    margin-top: 0px;
    align-content: center;
    border-radius: 8px;
    margin-bottom: 20px;
    
}
.fp_hero_txt{
    text-align: center;
    max-width: 700px;
    margin: auto;
    background-color: rgba(10, 54, 65, 0.8);
    border-radius: 8px;
    
}
.fp_hero_txt h3{
    font-size: 2rem;
    color: #CB9B46;
    font-family: "roboto-font", sans-serif;
}
.fp_hero_txt p{
    font-size: 0.8rem;
    letter-spacing: 0.08em;
    color: #ffffff;
    font-family: "roboto-font", sans-serif;
}
.fp_h2_hl{
    text-align: start;
    font-size: 2rem;
    color: #0A3641;
    margin: 20px 0px 10px 200px;
}
.fp_products{
    display: flex;
    max-width: 1000px;
    gap: 20px;
    justify-content: center;
    margin:40px auto;
    align-items: end;
    
}
.fp_product{
    display: flex;
    flex-direction: column;
    font-family: "sf-pro-display", Verdana, Geneva, Tahoma, sans-serif;
    color: #0A3641;
    width: 250px;
   
}
.fp_product img{
    width: 60%;
    display: block;
    margin: auto;
    
   
}
.fp_products_txt{
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 250px;
    background-color: #0A3641;
    color: #ffffff;
    padding: 5px;
    border-radius: 8px;
    
    
}
.fp_txt_p{
    font-size: .5rem;
    font-family: "roboto-font", sans-serif;
}
.fp_products_txt h4{
    font-size: 0.7rem;
    color: #CB9B46;
    font-family: "roboto-font", sans-serif;
    
}
.fp_products_txt h3{
    font-size: 20px;
    color: #0A3641;
    font-family: "roboto-font", sans-serif;
}
.fp_prod_prize1{
    font-family: "roboto-font", sans-serif;
    color: #ffffff;
    text-align: center;
    
}
.fp_sale{
    display: flex;
    max-width: 1000px;
    margin: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.fp_sale_img{
    background-image: url("../images/sales_imglarge.jpg");
    background-size:cover; 
    max-width: 50%;
    height: 400px;
    flex:1;
}
.fp_sale_txt{
   color: #fff;
   text-align: center;
   margin-top:70px;
}
.fp_sale_txt h1{
    font-size: 4rem;
    color: #ffffff;
    font-family: "roboto-font", sans-serif;
}
.fp_sale_txt p{
    font-size: 1rem;
    color: #ffffff;
    font-family: "roboto-font", sans-serif;
    margin-top:20px;
   
}
.fp_sale_btn{
    background-color: #CB9B46;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 10px;
    border-style: none;
    outline: solid 2px #ffffff;
    position: relative;
    left: 150px;
    top: 290px;
    align-items: center;
}
.fp_sale_wmbtn{
    background-color: #0A3641;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 10px;
    border-style: none;
    outline: solid 2px #ffffff;
    position: relative;
    left: 60px;
   bottom: -350px;
}
.fp_sale_mbtn{
    background-color: #0A3641;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 10px;
    border-style: none;
    outline: solid 2px #ffffff;
    position: relative;
    left: 65px;
    bottom: -350px;
}
.fp_sale_h4{
    text-align: center;
    font-size: 100px;
    color: #ffffff;
    -webkit-text-stroke: 4px #0A3641;   
}
.fp_sale_pr{
    flex: 1;
    background-image: url("../images/fp_sale_pr.jpg");
    background-size:cover;
    max-width: 100%;
    height: 400px;
  
}
/*color choices*/
.color_choices{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pink1{
   
   height: 15px;
   width: 15px;
   background-color: #EB2374;
   border-radius: 50%;
   display: inline-block;
   margin:5px;
}
.blue1{
    height: 15px;
    width: 15px;
    background-color: #380dd3;
    border-radius: 50%;
    display: inline-block;
    margin:5px;
 }
 .green1{
    height: 15px;
    width: 15px;
    background-color: #678036;
    border-radius: 50%;
    display: inline-block;
    margin:5px;
 }
 .grey1{
    height: 15px;
    width: 15px;
    background-color: #666565;
    border-radius: 50%;
    display: inline-block;
    margin:5px;
 }
 .orange1{
    height: 15px;
    width: 15px;
    background-color: #e6830a;
    border-radius: 50%;
    display: inline-block;
    margin:5px;
 }
 .red{
    height: 15px;
    width: 15px;
    background-color: #e60a0a;
    border-radius: 50%;
    display: inline-block;
    margin:5px;
 }
 .black{
    height: 15px;
    width: 15px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    margin:5px;
 }
 /*Newslettersection*/
 .fp_newsletter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
    background-color: #CB9B46;
    color: #0A3641;
    padding: 20px;
    border-radius: 8px;
    max-width: 1000px;
    margin: 20px auto;
}
.fp_newsletter_input button{
    background-color: #0A3641;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    outline: solid 2px #ffffff;
}
.fp_newsletter_input input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    background-color: #0A3641;
    color:#fff
}
.fp_newsletter_txt h2{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "roboto-font", sans-serif;
}